.about__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features {
  width: 35%;
  background: rgba(11, 5, 5, 0.69);
  border: 5px solid rgba(0, 0, 0, 0.53);
  border-radius: 0 30px 30px 0;
  white-space: pre-wrap;
  margin-top: 5%;
  margin-left: -3px;
}
.features__titleWrp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.feature__icons {
  margin-right: 5px;
}
.features__wrp {
  width: 90%;
  margin-left: 30px;
}

.features__firstBox {
  margin: 5% 0 0 30px;
}

.features__thirdBox{
  margin: 0 0 5% 30px;
}

.features__title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 30px;
  color: #fdfdfd;
}
.features__text {
  text-align: left;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
  margin: 30px 0;
  color: #fdfdfd;
}

.aboutUs {
  background: rgba(0, 0, 0, 0.67);
  border: 5px solid rgba(0, 0, 0, 0.16);
  border-radius: 30px 0 0 30px;
  width: 50%;
  margin: 30% 0 30%;
}

.aboutUs__title {
  margin: 50px auto 30px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;

  color: #fdfdfd;
}

.aboutUs__text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  margin: 20px 40px;
  color: #fdfdfd;
}
@media screen and (min-width: 900px) {
  .features {
margin-top: 100px;
    width:32%;
    height: 70%;
    margin: 100px 0 30px;
  }

  .features__text{
    font-size: 21px;
  }
  .about__feturesList {
    display:flex;
    flex-direction: column;
  }
  .features__wrp {
    display:flex;
    flex-direction: column;
    margin-left: 0;
  }
  .aboutUs{
    margin: 0;
    position: absolute;
    right: -2px;
    bottom: 20%;
    width: 55%;
  }
}
@media screen and (max-width: 1500px) {
  .about__container {
    height:100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    align-items: stretch;
  }

  .features {
    /* width: 90%; */
  }

  .about__feturesList {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
  }

  .aboutUs {
   
    /* right: -2px;
    bottom: 50px;
    width: 80%; */
  }

  .features__firstBox {
    margin: 0;
  }
}
