.list__item,
.list__link {
  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: rgba(255, 255, 255, 0.7);
}

.active__link {
  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: linear-gradient(
    90deg,
    rgba(17, 241, 220, 1) 0%,
    rgba(29, 253, 119, 1) 49%,
    rgba(69, 252, 90, 1) 100%
  );
  border-bottom: 2px solid linear-gradient(90deg, rgba(17,241,220,1) 0%, rgba(29,253,119,1) 49%, rgba(69,252,90,1) 100%));
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

.navigation {
  z-index: 2;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  /* height: 10%; */
  left: 0px;
  top: 0;
  background: linear-gradient(
    180deg,
    #050404 -31.68%,
    rgba(8, 8, 14, 0.2) 100%
  );
  border-bottom: 2px solid rgba(46, 42, 42, 0.5);
}

.list {
  margin: 20px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
