.boxWraper {
  position: relative;
}
.box {
  white-space: nowrap;
  transition: transform 0.7s;
}
.carousel {
  background-color: #e5eceb4f;
  transition: 1s;
  overflow: hidden;
  width: 70%;

  background: rgba(11, 5, 5, 0.69);
  border: 4px solid rgb(18 17 17 / 53%);
  border-radius: 30px;
}
.carousel__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  color: white;
  height: 100%;
  white-space: pre-wrap;
}

.carets:hover {
  transition: 0.3s;
  transform: scale(1.3);
}

.carets {
  z-index: 2;
  position: absolute;
  fill: #dff4f0;
  background: none;
  border: none;
  top: 40%;
}
