.boxWraper {
  position: relative;
}
.box {
  white-space: nowrap;
  transition: transform 0.7s;
}
.carousel {
  background: none;
  transition: 1s;
  overflow: hidden;
}
.carousel__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: black;
  color: white;
}

.carets:hover {
  transition: 0.3s;
  transform: scale(1.3);
}

.carets {
  z-index: 2;
  position: absolute;
  fill: #493e3e;
  background: none;
  border: none;
}
