.backgroundImg {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.spinnerWrp {
  background-color: #fcfcfc;
  background-image: linear-gradient(34deg, #010341 11%, #0c031d 100%);
}

.contacts {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__mapButtonOpen {
  margin: 0;
  border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%;
  width: 20px;
  height: 89px;
  background-color: rgb(0 0 0 / 85%);

  transition: 0.7s;
  padding-left: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.contacts__mapButtonClose {
  border-radius: 100% 0% 0% 100%/ 50% 50% 50% 50%;
  width: 20px;
  height: 89px;
  background-color: rgb(0 0 0 / 85%);
  transition: 0.7s;
  padding-left: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: -25px;
  z-index: 2;
}

.contacts__mapWrp {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 1s;
  margin-left: -5px;
}

.contacts__map {
  transition: 0.4s;
  margin-right: 0;
  width: 800px;
  height: 400px;
  background: rgba(11, 5, 5, 0.69);
  border: 5px solid rgba(0, 0, 0, 0.53);
  border-radius: 0 30px 30px 0;
}

.contacts__apiMap {
  opacity: 0.8;
  border-radius: 0 30px 30px 0;
}

.contacts__listLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  text-decoration: none;
  color: #42cad0;
  transition: 0.4s;
  font-size: 21px;
}

.contacts__listLink:hover {
  transform: scale(1.2);
}

.contacts__list {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end;
}

.contacts__linksList {
  margin-top: 100px;
  padding-right: 150px;
  background: rgba(0, 0, 0, 0.67);
  border: 5px solid rgba(0, 0, 0, 0.16);
  border-radius: 30px 0 0 30px;
}

.contacts__address {
  color: white;
  opacity: 0.7;
  font-size: 17px;
  margin: 0 0 15px 0;
  padding: 0;
}
.contacts__pointerWrp {
  transform: matrix(1, 0, 0, 1, -9, -37);
  transition: 1s;
}

.contacts__mapPointer {
  width: 96px;
  height: 50px;
  transform: rotate(280deg);
}

.contacts__mapPointerTxt {
  transform: matrix(1, 0, 0, 1, 90, -14);
  font-size: 20px;
  color: blue;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .contacts {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .contacts__mapWrp {
    padding-top: 100px;
    width: 110%;
    max-width: 700px;
  }
  .contacts__apiMap {
    width: 100%;
    max-width: 700px;
  }

  .contacts__list {
    /* position: absolute; */
    right: -5px;
    bottom: 10px;
    width: 100%;
  }
  .contacts__linksList {
    margin-bottom: 0;
    padding-right: 0;
  }
}

@media screen and (max-height: 500px) {
  .contacts {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .contacts__mapWrp {
    padding-top: 100px;
    width: 110%;
    max-width: 700px;
  }
  .contacts__apiMap {
    width: 100%;
    max-width: 700px;
  }
  .contacts__list {
    width: 100%;
    margin: 50px 0 50px 50px;
  }
  .contacts__linksList {
    margin-bottom: 0;
    padding-right: 100px;
  }
}
